<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<% 
  options ||= {}
  counter = options[:counter]
%>
<div class="form-group">
  <%= f.label :answer_text, "#{counter}. #{answer.question.question_text}" %>
  <%= f.text_field :answer_text, class: 'number' %>
</div>