<h1>
  <%= "Showing #{@objects.size} in import/export format" %>
</h1>
<% @objects.each do |r| %>
  <div>
    <pre><%= r.export.to_yaml %></pre>
  </div>
<% end %>
<%= link_to "back".cms, surveys_path, class: "btn btn-default" %></div>
